<div class="customer-details">
        <div class="row first-row">
            <div class="col customer-id">
                <h3>Customer ID: {{customer.custId}}</h3>
            </div>
        </div>
    <div class="row second-row">
        <div class="col customer-first-name">
            <h3>First Name: {{customer.firstName}}</h3>
        </div>
        <div class="col customer-last-name">
            <h3>Last Name: {{customer.lastName}}</h3>
        </div>
    </div>
    <div class="row third-row">
        <div class="col customer-country">
            <h3>Country: {{customer.country}}</h3>
        </div>
        <div class="col customer-lastPurchased">
            <h3>Last Purchase Date: {{customer.lastPurchased}}</h3>
        </div>
    </div>
    <div class="row forth-row">
        <div class="col customer-notes">
        <h3>Notes: {{customer.notes}}</h3>
        </div>
    </div>
    <div class="row fifth-row">
    
        <a class="btn btn-primary edit-link col" ui-sref="edit.detail({id: {{customer.custId}}})" role="button">Edit</a>
        <button class="btn btn-primary delete-link col" ng-click="deleteCust()">Delete</button>
        
    </div>
</div>